body{

    background: url(./background.jpg)center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet{

    width: 10em;
    height: 10em;
     position: relative;
    animation: rotate 1s linear infinite;
    background-size: contain;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

 

}

.moon{

    background: url(./moon-removebg-preview.png)   no-repeat;
    width: 6em;
    height: 6em;
    background-size: contain;
    position: absolute;
    left: -11em;
    box-shadow: inset -3em -3em 3em #000, inset -0.10em -0.10em 8em #ffffff ;

    top: 50%;
    transform: translateY(-50%);
    animation: rotate 2s linear infinite,
    orbit 5s infinite ease-in-out;
    z-index: 1;

}

 .moon{

    border-radius: 50%;
    background-repeat:  repeat  ;
    background-size: 200% 100%;


}

.planet{

    border-radius: 50%;
    background-repeat:  repeat  ;
    background-size: 200% 100%;
  

}


@keyframes rotate {
    to{background-position: -800% 10%;}

}

@keyframes orbit{

    49%{z-index: 1;}
    50%{
        left: 25em;
        z-index: -1;

    }
    99%{
        z-index: -1;

    }
    100%{
        left: -11em;
        z-index: 1;
    }
}